<div class="container mt-4">
  <div class="card product-card">
    <div class="card-header">
      <h4 class="mb-0">Productos</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table custom-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>{{ product.price | currency }}</td>
              <td>{{ product.stock }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
